{% extends "base.html.twig" %}

{% block page_name %}home-how-it-works{% endblock %}

{% block content %}
    <section class="content container fs-1">
        <div class="col-lg-10">
            <div class="header">
                <h1 class="title">{{ "articles.cookies.what_are_cookies"|trans }}</h1>
                <p class="description">{{ "articles.cookies.what_are_cookies_desc"|trans }}</p>
            </div>

            <div class="">
                <h2>{{ "articles.cookies.usage"|trans }}</h2>
                <p class="description"></p>
            </div>
        </div>
    </section>
{% endblock %}
