{% extends 'base.html.twig' %}

{% block title %}{{ "auth.reset_password"|trans }} | {{ parent() }}{% endblock %}

{% block page_name %}auth-forgotten-password{% endblock %}

{% block content %}
    <section class="content">
        <div class="container col-lg-5 col-md-7">
            <section class="cardbox">
                <div class="cardbox-item">
                    <h2 class="text-left"><span class="fa fa-check-circle me-2"></span>Email pro obnovu hesla byl
                        odeslán</h2>
                    <p>
                        Pokud zadaný účet existuje, tak na Vám byl zaslán email obsahující odkaz pro obnovu hesla.
                        Platnost odkazu:
                        {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}
                        .
                    </p>
                    <p>Pokud jste email nedostal, zkontrolujte SPAM nebo to <a
                                href="{{ path('app_reset_password/request') }}">zkuste znovu</a>.</p>
                </div>
            </section>
        </div>
    </section>
{% endblock %}
