{% extends "base.html.twig" %}

{% block content %}
    <div class="inquiry inquiry-create">
        <div class="container">
            <div class="page-content">
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}