{% extends "base.html.twig" %}

{% block page_name %}inquiry-form inquiry-edit{% endblock %}

{% block content %}
    <div class="content">
        <div class="container">
            <div class="page-content">
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}