{% extends "base.html.twig" %}

{% block scripts %}

{% endblock %}

{% block content %}
    <section class="inquiry-index">
        <div class="jumbotron">
            <h1 class="text-center">Poptávky</h1>
        </div>

        <section id="inquiry-filter">

        </section>

        <div class="container">
            {% include "inquiry/layouts/list.html.twig" with inquiries %}
        </div>
    </section>
{% endblock %}
