{% extends "base.html.twig" %}

{% block scripts %}

{% endblock %}

{% block content %}
    <section class="inquiry-index">
        <div class="jumbotron">
            <h1 class="text-center">Poptávky</h1>
        </div>

        <div class="container">
            <div id="inquiry-filter">
                {{ form(form, {"method":"GET"}) }}
            </div>

            <div class="container">
                {% include "inquiry/layouts/list.html.twig" with inquiries %}
            </div>

            {% include "layouts/pagination.html.twig" with {pagination} %}
        </div>
    </section>
{% endblock %}
