{% extends "base.html.twig" %}

{% block scripts %}

{% endblock %}

{% block content %}
    <header>
        <h1>Poptávky</h1>
    </header>

    <section>
        <ul>
            {% for inquiry in inquiries %}
                <li><a href="{{ path("inquiries/detail", {"alias" : inquiry.alias}) }}">{{ inquiry.title }}</a></li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}
