.inquiry-category-input .title{
    font-weight: bold;
    color: black;
}
.inquiry-category-input{
    padding-left: 0;
    padding-right: 0;
}

.categories, .attachments{
    margin-bottom: 1rem;
}
