.profile-dashboard {
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  overflow: hidden;
}

.profile-menu {
  padding: calc(var(--bs-gutter-x) * 0.5);
  background: $template;
  color: $template_font_color;

  .profile-intro {
    font-size: 1.5rem;
  }

  .list-group, .list-group-item {
    background: none;
    color: $template_font_color;
    border: none;
    font-size: 1rem;
  }

  button.list-group-item {
    font-weight: bold;
  }

  .nav-link {
    color: $template_font_color;
  }

  h3 {
    color: $template_font_color;
  }
}

.profile-content {
  border-radius: 0;
}