// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$table_1: #ffaf62;
$table_2: #f49f64;
$table_3: #f4925c;
$table_4: #f58354;
$table_5: #f6764c;
$table_6: #f6764c;

//$template_background: #fdfdf8;
$template_background: #ffffff;
//$template: #5a5af3;
$template: #2f2fa2;

//$template_border_color: rgb(246, 118, 76, 1);
//$template_font_color: #f5e0f1;
$template_font_color: #ffffff;
$template_light: #2f2fe2;
$template_lighter: #2f3fff;
$template_lightest: #2f5fff;
$template_dark: #2f2f82;
$template_darkest: #242582;

$tranparent_gray: rgba(128, 128, 128, 0.05);

$primary: $template;
$secondary: #e3342f;
