.main-menu {
  background-color: $template !important;
  color: $template_font_color;
}

.main-menu .navbar-brand {
  color: $template_font_color;
  font-weight: bold;
  font-size: 1.5em;
}

.main-menu .nav-item, .main-menu .nav-item .nav-link {
  color: $template_font_color;
  font-weight: normal;
}

.main-menu .nav-item {
  color: white;
}

.main-menu .nav-item .nav-link:active, .main-menu .nav-item .nav-link:focus {
  border: none;
}

.main-menu .nav-item .nav-link:hover {
  color: white;
  background-color: $template_lighter;
  border-radius: 10px;
}

.main-menu .nav-item.active .nav-link {
  font-weight: bold;
  color: #000000;
}

/** Mobile **/
@include media-breakpoint-down(lg){
  .main-menu .nav-item{
    text-align: center;
  }

  .main-menu .navbar-brand{
    margin-right: 0;
  }
}