body, footer {
  color: $template_font_color;
  background-color: $template_background;
}

.card {
  /* border-color: $template;*/
}

.card-footer {
  background: none;
}

.auth-card {
  border: none;
  box-shadow: rgba(0, 0, 0, 0.15) 0 8px 20px 0;
}

.card .card-header {
  background: none;
  border: none;
  text-align: center;
}

.invalid-feedback {
  display: block;
}

.dropdown-item.active, .dropdown-item:active {
  background-color: $template;
  color: $template_font_color;
}

.input-group-prepend .fa {
  margin-right: 5px;
}

/*input.form-control, textarea.form-control{
    border: 1px solid $template;
}*/
.form-control, .form-select, .form-check {
  margin-bottom: 1rem;
}

/* Autocomplete
----------------------------------*/
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active,
a.ui-button:active, .ui-button:active, .ui-state-active.ui-button:hover {
  background-color: $template !important;
  border: 1px solid $template_dark;
}

/* End Autocomplete */
.btn-link {
  color: $template;
}

.btn-link:hover {
  color: $template_dark;
}

.btn-primary {
  background: $template;
  border: 1px solid $template_dark;
  color: white;
}

.btn-primary:hover {
  background: $template_darkest;
  border: 1px solid $template_dark;
  color: white
}

.input-group-prepend .input-group-text {
  background-color: $template_lighter;
  color: #fff;
  border: none;
}

.main-menu {
  background-color: $template !important;
  color: $template_font_color;
}

.main-menu .navbar-brand {
  color: $template_font_color;
  font-weight: bold;
  font-size: 1.5em;
}

.main-menu .nav-item, .main-menu .nav-item .nav-link {
  color: $template_font_color;
  font-weight: normal;
}

.main-menu .nav-item {
  color: white;
}

.main-menu .nav-item .nav-link:active, .main-menu .nav-item .nav-link:focus {
  border: none;
}

.main-menu .nav-item .nav-link:hover {
  color: white;
  background-color: $template_lighter;
  border-radius: 10px;
}

.main-menu .nav-item.active .nav-link {
  font-weight: bold;
  color: #000000;
}

.main-page .search-container input {
  width: 80%;
}

.main-page .search-container input#text {
  height: 100%;
  border: 0;
  display: block;
  padding: 10px 32px 10px 32px;
  font-size: 18px;
  color: $template_font_color;
  background: white;
  font-family: lato, sans-serif;
  box-shadow: rgba(0, 0, 0, 0.15) 0 8px 20px 0;
}

.main-page .jumbotron {
  padding: 0;
  background: url('../images/intro.png') no-repeat;
  background-size: 100%;
  border-radius: 0;
  margin-top: -2rem;
}

/** Category multichoise */
.radios-inline .form-check{
  float: left;
}

label.form-check-label.required:before{
  content: none;
}

.choices__list--multiple .choices__item {
  background-color: $template !important;
  border: 1px solid $template_dark !important;
}

.choices__item--selectable.is-highlighted {
  background-color: $template;
  border: 1px solid $template;
}

.choices[data-type*=select-multiple] .choices__button, .choices[data-type*=text] .choices__button {
  border-left: 1px solid $template_dark;
}

.choices__heading {
  color: $template;
}

/* Registation page */
.auth-register {
  .jumbotron {
    background-color: $tranparent_gray;
    padding: 1rem;
    margin-top: -2rem;
    height: 20rem;
  }

  .jumbotron h1 {
    text-align: center;
    margin-bottom: 2rem;
  }

  .jumbotron .lead {
    text-align: center;
  }

  .register-options {
    justify-content: space-around;
    position: relative;
    top: -4rem;
  }

  .register-options {
    .card-text p {
      text-align: justify;
    }

    .btn {
      text-align: center;
    }
  }

  .register-tab {
    background: -webkit-linear-gradient(left, $template_dark, $template_lightest);
    margin-top: 3%;
    padding: 3%;
  }

  .register-tab-left {
    text-align: center;
    color: #fff;
    margin-top: 4%;
  }

  .register-tab-left .btn-login {
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    width: 60%;
    background: #f8f9fa;
    font-weight: bold;
    color: #383d41;
    margin-bottom: 3%;
    cursor: pointer;
  }

  .register-tab-right {
    background: #f8f9fa;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
  }

  .register-tab-left img {
    margin-top: 15%;
    margin-bottom: 5%;
    width: 25%;
    -webkit-animation: mover 2s infinite alternate;
    animation: mover 1s infinite alternate;
  }

  @-webkit-keyframes mover {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-20px);
    }
  }

  @keyframes mover {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-20px);
    }
  }

  .register-tab-left p {
    font-weight: lighter;
    padding: 12%;
    margin-top: -9%;
  }

  .register-tab .register-tab-form {
    padding: 10%;
    margin-top: 10%;
  }

  .btn-register {
    display: block;
    margin: 0 auto;
    margin-top: 1rem;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    color: #fff;
    font-weight: 600;
    width: 50%;
    cursor: pointer;
  }

  .register-tab-heading {
    text-align: center;
    margin-top: 8%;
    margin-bottom: -15%;
    color: #495057;
  }
}

@media (max-width: 768px) {
  .auth.register {
    .register-options {
      flex-direction: column;
    }
  }
}

/* Login page */
.auth-login{
  .login-container{
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .login-form{
    padding: 5%;
    background: $template;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
  }
  .login-form h3{
    text-align: center;
    color: #fff;
  }
  .login-container form{
    padding: 10%;
  }
  .btn-submit
  {
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
  }
  .login-form .btn-submit{
    font-weight: 600;
    color: #0062cc;
    background-color: #fff;
  }
  .login-form .btn-forget-password{
    color: #fff;
    font-weight: 600;
    text-decoration: none;
  }
}

