{% extends "base.html.twig" %}

{% block page_name %}offer-index{% endblock %}

{% block content %}
    <section class="container content">
        <div class="jumbotron">
            <h1 class="text-left">{{ "offers.my_offers"|trans }}</h1>
        </div>

        <section class="pt-3 pb-5">
            {% include "offer/layouts/list.html.twig" with offers %}
        </section>

        {% include "layouts/pagination.html.twig" with {pagination} %}
    </section>
{% endblock %}
