{% extends "email/base.html.twig" %}

{% block style %}

{% endblock %}

{# @var inquiry \App\Entity\Inquiry\Inquiry #}
{% block body %}
    <p>Dobrý den, <br/><br/>
        Vaše poptávka byla jedním z našich dodavatelů označena jako dokončená. Pomocí násleudujícího tlačátka
        můžete dokončit a ohodnotit Vaši poptávku. Za hodnocení Vám předem děkujeme. :)
    </p>

    <a class="btn btn-primary btn-center" style="margin-top: 1rem; font-size: 1.5rem;"
       href="{{ signedUrl }}">Dokončit poptávku</a>

    {% include "email/layout/signature.html.twig" %}
{% endblock %}