<!doctype html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="{{ asset("/img/global/thumb.ico") }}">

    <!-- CSS -->
    {% block styles %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    <!-- Scripts -->
    {% block scripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
<div id="app">
    {% include "layouts/nav.html.twig" %}

    <main class="py-4">
        {% block content %}
        {% endblock %}
    </main>

    {% include "layouts/footer.html.twig" %}
</div>
</body>
</html>
