{% extends 'base.html.twig' %}

{% block title %}{{ "auth.registration"|trans }}{% endblock %}

{% block styles %}
    <style>

    </style>
{% endblock %}

{% block content %}
    <section class="content auth-register">
        <div class="container register-tab">
            <div class="row">
                <div class="col-lg-3 register-tab-left">
                    <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
                    <h3>{% block registration_title %}{% endblock %}</h3>
                    <p>{% block registration_desc %}{% endblock %}</p>
                    <div>
                        <p class="p-0">{{ "auth.already_registered"|trans }}</p>
                        <a class="btn btn-login" href="{{ path("app_login") }}">{{ "auth.login"|trans }}</a><br/>
                    </div>
                </div>
                <div class="col-lg-9 register-tab-right">
                    <h2 class="register-tab-heading">{% block registration_type %}{% endblock %}</h2>
                    {% block register_form %}{% endblock %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}