{% if offers|length > 0 %}
    <ul class="offer-list">
        {# @var offer \App\Entity\Inquiry\Offer #}
        {% for offer in offers %}
            <li class="card row">
                <div class="col-md-8">
                    <a class="btn btn-link" href="#!">
                        <h3>{{ offer.inquiry.title }}</h3>
                    </a>
                </div>
                <div class="col-md-4">
                    <ul class="properties-list" style="list-style-type: none;">
                        <li><span class="me-2 fas fa-calendar-day"></span>{{ offer.createdAt|date("d.m.Y") }}</li>
                    </ul>
                </div>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p class="pt-7 text-center">{{ "offers.no_offers_found"|trans }}</p>
{% endif %}
