{% include "email/base.html.twig" %}

{% block style %}
    <style>

    </style>
{% endblock %}

{% block body %}
    <h1 style="text-align: center">{{ "auth.password_reset_request"|trans }}</h1>
    <hr/>

    <p>Dobrý den,<br/>
        pro obnovu Vašeho hesla, prosím, klikněte na následující tlačítko:</p>

    <a class="btn btn-primary btn-center" style="font-size: 1.5rem;"
       href="{{ url('app_reset_password', {token: resetToken.token}) }}">Obnovit heslo</a>
    <p>Tento odkaz platí 1 hodinu.</p>

    {% include "email/layout/signature.html.twig" %}
{% endblock %}