{% extends "email/base.html.twig" %}

{% block style %}

{% endblock %}

{# @var inquiry \App\Entity\Inquiry\Inquiry #}
{% block body %}
    <p>Dobrý den, <br/><br/>
        za 7 dní dojde k automatickému smazání Vaší poptávky
        <a href="{{ url("inquiries/detail", {"alias":inquiry.alias}) }}">{{ inquiry.title }}</a>.
    </p>
    <p>Pokud je Vaše poptávka stále aktuální, můžete její platnost zdarma <a href="#!">prodloužit</a>. Platnost odkazu
        je 7 dní.</p>

    <p>Už pro svou poptávku máte dodavatele? Dokončete svou poptávku následujícím tlačítka a dejte nám vědět jak
        jste spokojen!</p>

    <a class="btn btn-primary btn-center" style="margin-top: 1rem; font-size: 1.5rem;"
       href="#!">Dokončit poptávku</a>

    {% include "email/layout/signature.html.twig" %}

    <hr/>
    <footer>
        <p>Tento email jste obdržel na základě Vašeho souhlasu při zveřejnění poptávky na serveru <a
                    href="{{ url("home") }}">{{ "app.name"|trans }}</a>.</p>
    </footer>
{% endblock %}