<ul class="inquiry-list">
    {# @var inquiry \App\Entity\Inquiry\Inquiry #}
    {% for inquiry in inquiries %}
        <li class="card row">
            <div class="col-md-8">
                <a class="btn btn-link" href="{{ path("inquiries/detail", {"alias" : inquiry.alias}) }}">
                    <h3>{{ inquiry.title }}</h3>
                </a>
            </div>
            <div class="col-md-4">
                <ul class="properties-list" style="list-style-type: none;">
                    <li>{{ inquiry.createdAt|date("d.m.Y") }}</li>
                    <li>{{ inquiry.region.title }}</li>
                    <li>Stavebnictví</li>
                </ul>
            </div>
        </li>
    {% endfor %}
</ul>
